.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.login-form {
  width: 400px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: rgb(18, 18, 18);
}

.login-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.login-form-title {
  text-decoration: underline;
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: white;
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.account-btn {
  font-size: 16pt;
  color: white;
  background-color: #ff9900;
  padding: 5px 20px;
  border-radius: 50px;
  font-weight: bold;
}

.account-btn:hover {
  text-decoration: none;
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
}

.error {
  color: red;
}


