.page-body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: auto;
  margin: auto;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 5px 10px #1687d933;
}

.about {
	height: 100%;
	width: 24%;
  text-align: center;
}

.cart-header {
  margin: auto;
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-heading {
  font-size: 75px;
  font-family: ‘Open Sans’;
  font-weight: 700;
  color: #2F3841;
}

.action {
  font-size: 30px;
  font-family: ‘Open Sans’;
  font-weight: 600;
  color: #E44C4C;
  cursor: pointer;
  border-radius: 5px;
  border-spacing: 5px;
  text-decoration: none;
}

.action:hover {
  text-decoration: underline;
  color: red;
  transform: scale(1.1);
  transition: 0.3s;
}

.item {
	margin: auto;
	width: 90%;
	height: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.img-box {
  text-align: center;
  width: 100%;
}

.img-box img {
  height: 175px;
}

.item-about {
  height: 100%;
	width: 24%;
}

.item-about {
  text-align: center;
}

.item-title {
  white-space: nowrap;
  padding: 50px 15px 25px 15px;
	line-height: 20px;
	font-size: 32px;
	font-family: 'Open Sans';
	font-weight: 800px;
	color: #202020;
}

.item-type {  
  font-weight: 400px;
  font-size: 16px;
}

.counter {
  margin: 0 auto;
	text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.flex-container {
  display: flex;
  justify-content: center;
  text-align: center;
  justify-content: space-between;
}

.flex-item {
  margin-right: 10px;
}

.item-btn {
  width: 70px;
	height: 80px;
	border-radius: 50%;	
	justify-content: center;
	align-items: center;
	font-size: 30px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: black;
	cursor: pointer;
}

.item-btn:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.item-btn-red {
  background-color: red;
}

.item-btn-green {
  background-color: green;
}

.item-btn-grey {
  background-color: grey;
}

item-btn-grey:hover {
  background-color: #202020;
}

.counter {
  width: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pad {
	margin-top: 5px;
}

.price {
	height: 100%;
	text-align: right;
}

.amount {
	padding-top: 20px;
	font-size: 26px;
	font-family: 'Open Sans';
	font-weight: 800;
  color: #202020;
}

.remove {
	padding-top: 5px;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #E44C4C;
	cursor: pointer;
  text-decoration: none;
}

.remove:hover {
  color: red;
  text-decoration: underline;
  transform: scale(1.1);
  transition: 0.3s;
}

.confirm-order-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.confirm-order {
  font-weight: bold;
  font-size: 35px;
}

@media screen and (max-width: 1000px) {
 
  .cart-header {
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-rows: 2(100px);
    align-items: center;
  }

  .action {
    text-align: right;
    width: auto;
  }

}

@media screen and (max-width: 775px) {

  .item {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .price {
	  height: 100%;
  	text-align: center;
  }

}