.link-primary {
  color: blue;
  text-decoration: none;
}

.link-primary:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button-primary {
  padding: 15px 32px;
  font-size: 30px;
  border-radius: 12px;
  color: white;
  width: fit-content;
}

.button-primary:hover {
  color: black;
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
}

.button-primary-green {
  background-color: green;
}

.button-primary-red {
  background-color: red;
}

.button-primary-green:hover {
  border-color: purple;
  background-color: lightgreen;
}

.button-primary-red {
  border-color: orange;
  background-color: crimson;
}

.text-center {
  text-align: center;
  color: white;
}