.menu-container {
  height: 100%;  
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.menu-section-types {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: stretch;
  height: 80px;
  align-items: center;
  background-color: rgb(18, 18, 18);
  color: gray;
}

.menu-section-type-selected {
  transition: 0.3s;
  text-decoration: none;
  font-size: 30px;
  list-style: none;
  margin-right: 40px; 
  font-weight: bold;
  background-color: #ff9900;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  color: white;
}

.menu-section-type {
  text-decoration: none;
  font-size: 30px;
  list-style: none;
  margin-right: 50px; 
}

.menu-table-container {
  width: 450px;
  margin: auto;
  background-color: rgb(18, 18, 18);
  border-radius: 50px;
  padding-top: 20px;
}

.menu-section-type:hover {
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
  color: white;
}

.cell {
  text-align: center;  
  margin: auto;
  display: flex;
  flex-direction: column;
}

.item-img {
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 200px;
  align-self: center;
  margin: 5px 0 10px 0;
}

.menu-item-title {
  font-size: 36px;
  color: white;
  text-align: center;
  font-weight: bold;
}

.item-action {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.add-to-cart {
  background-color: white;
  padding: 5px 20px 5px 20px;
  border-radius: 50px;
  font-weight: bold;
  background-color: green;
  color: white;
}

.add-to-cart:hover {
  transform: scale(1.1);
  transition: 0.3s;
  font-weight: bold;
  background-color: #ff9900;
  padding: 5px 20px 5px 20px;
  border-radius: 50px;
}

.not-logged-in {
  color: white;
  background-color: red;
  padding: 5px 15px 5px 15px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
}

.already-in-cart {
  color: white;
  padding: 5px 20px 5px 20px;
  border-radius: 50px;
  font-size: 18px;
  font-style: italic;
  background-color: red;
}

@media screen and (max-width: 800px) {
  
  .menu-section-types {
    grid-template-columns: none;
    grid-template-rows: repeat(4, 60px);
    width: 100%;
    height: auto;
    justify-content: center;
    padding: 10px 0px 10px 10px;
    align-items: center;
    text-align: center;
  }

  .menu-section-type {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .menu-section-type-selected {
    margin-right: 0px;
  }

  #left-scroll {
    justify-content: left;
    top: 0;
  }

  #right-scroll {
    justify-content: right;
  }

}