.cart-container {
  height: 100%;  
  width: 100%;  
  margin: auto;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cart-table-container {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
  background: rgb(18, 18, 18);
  border-radius: 15px;
  margin-top: 20px;
}

.cell {
  text-align: left;
  margin-left: 50px;
}

.about {
	height: 100%;
	width: 24%;
  text-align: center;
}

.cart-header {
  margin: auto;
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-heading {
  font-size: 75px;
  font-weight: 700;
  color: white;
  background: #ff9900;
  border-radius: 15px 15px 0 0;
}

.cart-item-container {
  display: flex;
  flex-direction: row;
}

.item-info-container {
  display: flex;
  flex-direction: column;
}

.item-title {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: -5px;
}

.item-type {
  font-style: italic;
  color: gray;
}

.cart-img {
  display: inline;
  align-self: left;
  width: 200px;
  height: auto;
}

.item-btn-container {
  display: flex;
  flex-direction: row;
  margin: auto 50px auto auto;
}

.qty-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 120px;
}

.cost-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-btn {
  width: 70px;
	height: 70px;
	border-radius: 50%;	
	justify-content: center;
	align-items: center;
	font-size: 30px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: white;
	cursor: pointer;
}

.item-btn:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.item-btn-red {
  background-color: red;
  margin: auto;
}

.item-btn-green {
  background-color: green;
  margin: auto;
}

.item-btn-grey {
  background-color: grey;
  margin: auto;
}

.item-btn-grey:hover {
  background-color: #202020;
}

.counter {
  width: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
  color: white;
  margin: auto 20px;
}

.total-cost {
  color: white;
  font-weight: bold;
  font-size: 36px;
}

.remove-btn-container {
	margin: 30px 0px 10px auto;
}

.confirm-order-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

.confirm-order {
  font-weight: bold;
  font-size: 35px;
}

@media screen and (max-width: 1000px) {
 
  .cart-header {
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-rows: 2(100px);
    align-items: center;
  }

  .action {
    text-align: right;
    width: auto;
  }

  .item {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .price {
	  height: 100%;
  	text-align: center;
  }

}