.cart-container {
  height: 100%;  
  width: 100%;  
  margin: auto;
  background-color: gray;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cart-table-container {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
}

.cell {
  text-align: center;  
  margin: auto;
}

.about {
	height: 100%;
	width: 24%;
  text-align: center;
}

.cart-header {
  margin: auto;
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-heading {
  font-size: 32px;
  font-family: ‘Open Sans’;
  font-weight: 700;
  color: white;
  margin-left: 3px;
  margin-right: 3px;
}

.item-title {
  font-weight: bold;
  font-size: 18px;
}

.item-type {
  font-size: 16px;
  font-style: italic;
}

.item-btn {
  width: 60px;
	height: 60px;
	border-radius: 50%;	
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: black;
	cursor: pointer;
}

.item-btn:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.item-btn-red {
  background-color: red;
}

.item-btn-green {
  background-color: green;
}

.item-btn-grey {
  background-color: grey;
}

.item-btn-grey:hover {
  background-color: #202020;
}

.counter {
  width: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.remove-btn-container {
	margin-top: 3px;
  margin-bottom: 3px;
}

.remove-item {
  font-size: 24px;
}

.confirm-order-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.confirm-order {
  font-weight: bold;
  font-size: 24px;
}

.remove-all-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
}

.remove-all-button {
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.remove-all {
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
}

.total-cost {
  margin-right: 15px;
}

@media screen and (max-width: 1000px) {
 
  .cart-header {
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-rows: 2(100px);
    align-items: center;
  }

  .action {
    text-align: right;
    width: auto;
  }

  .item {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .price {
	  height: 100%;
  	text-align: center;
  }

  .remove-all-container {  
    justify-content: center;
    align-items: center;
  }

  .remove-all-button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0;
  }

}