.account {
  margin: auto;
  font-size: 52px;
  font-weight: bold;
  font-style: italic;
  color: orange;  
}

.account-tables-container {
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

.table-title {
  font-weight: bold;
  font-size: 36px;
  color: orange;
}

.profile-text {
  font-size: 24px;
  color: white;
}
