.menu-container {
  height: 100%;  
  width: 90%;
  margin: auto;
  background-color: gray;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.menu-section-types {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 80px;
  margin-top: 20px;
  align-items: center;
  background-color: white;  
}

.menu-section-type-selected {
  text-decoration: none;
  font-size: 30px;
  list-style: none;
  margin-right: 50px; 
  font-weight: bold;
  text-decoration: underline;
  background-color: gray;
}

.menu-section-type {
  text-decoration: none;
  font-size: 30px;
  list-style: none;
  margin-right: 50px; 
}

.menu-table-container {
  width: 450px;
  margin: auto;
}

.menu-section-type:hover {
  background-color: orange;
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
}

.cell {
  text-align: center;  
  margin: auto;
}

.item-img {
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 200px;
  margin-left: 10px;
}

.item-action {
  margin-top: 20px;
}

.already-in-cart {
  font-size: 24px;
}

@media screen and (max-width: 800px) {
  
  .menu-section-types {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: repeat(4, 60px);
    width: 100%;
    height: auto;
    justify-content: center;
    padding-top: 10px;
    margin-top: 20px;
    align-items: center;
    text-align: center;
    background-color: white;  
  } 

}